a {  font-family: Verdana, Helvetica, sans-serif; font-size: 10px; color: #000000; text-decoration: none; font-style: normal; font-weight: normal}
body {  background-color: #FFFFFF; background-image: none}
a:hover {  color: #FF0033}
